[submodule "linux"]
	path = linux
	url = git@github.com:qnixsoft/linux.git
	branch = metal
[submodule "musl"]
	path = musl
	url = git@github.com:qnixsoft/musl.git
	branch = metal
[submodule "rt"]
	path = rt
	url = git@github.com:qnixsoft/compiler-rt.git
